h2 {
   background-color:orange;
   color:white;
   font-size:30px;
   text-align:center;
   }

body {
   text-align: center;
   background-color: black;
   color: white; 
   font-size:150%;  
     }
